.vote-container {
  background-color: $clr-neu-600;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 1.5em;
  align-items: center;
  height: fit-content;

  @media (max-width: $media-sm) {
    justify-content: space-between;
    width: 100px;
    height: fit-content;
    flex-direction: row;
    order: 3;
    margin-left: 1em;
    margin-top: 1em;
  }
}

.vote-container span {
  color: $clr-prim-400;

  font-weight: 500;
  padding: 1.2em 0;

  @media (max-width: $media-sm) {
    padding: 0;
  }
}

.vote-container svg {
  & :active {
    fill: $clr-prim-400;
  }
}

.vote-container svg:hover {
  cursor: pointer;
}
