.reply-box {
  @include comment-box();
  max-width: 650px;
  margin: 10px 10px;
  @media (max-width: $media-sm) {
    flex-direction: column;
  }
}

.reply-avatar {
  width: 50px;
  height: 50px;
  @media (max-width: $media-sm) {
    margin: 10px 0;
    order: 2;
    position: relative;
    left: 0;
    bottom: 0;
  }
}

.reply-textarea {
  font-family: 'Rubik';
  padding: 10px;
  border: 1px solid $clr-neu-400;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  margin: 0 2em;
  resize: none;

  &:focus {
    outline: 0px;
    border: 1px solid $clr-prim-400;
  }

  @media (max-width: $media-sm) {
    margin: 0;
  }
}

.reply-btn {
  margin-left: auto;
  width: fit-content;
  color: $clr-neu-700;
  background-color: $clr-prim-400;
  text-decoration: none;
  padding: 0.5em 1em;
  height: fit-content;
  border-radius: 5px;

  &:active {
    background-color: $clr-prim-600;
  }

  @media (max-width: $media-sm) {
    order: 4;
    position: absolute;
    right: 1.3em;
    bottom: 2em;
  }
}
