.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.473);
  justify-content: center;
  align-items: center;
}

.overlay-container {
  margin: 0 10px;
  color: $clr-neu-500;
  border-radius: 10px;
  background-color: $clr-neu-700;
  max-width: 500px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.5em;

  p {
    padding: 1em 0;
  }
  h2 {
    color: $clr-neu-400;
  }
}

.overlay-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
